/* line 4, ../sass/style.scss */
#sidebar {
  text-align: center;
  background-color: red;
  position: fixed;
  height: 100%; }

/* line 10, ../sass/style.scss */
#sidebar h1 {
  font-size: 52px;
  font-family: 'Lora', serif;
  text-transform: uppercase; }

/* line 15, ../sass/style.scss */
.lore-portrait {
  width: 150px;
  margin: 0 auto; }
