$sidebar-color: red;


#sidebar{
	text-align: center;
	background-color: $sidebar-color;
	position: fixed;
	height: 100%
}
#sidebar h1{
	font-size: 52px;
	font-family: 'Lora', serif;
	text-transform: uppercase;
}
.lore-portrait{
	width: 150px;
	margin: 0 auto;
}