{% include 'header.twig' %}
        <div id="sidebar" class="col-md-4">
        {% include 'sidebar.twig' %}
        </div>
        <div class="col-md-8 col-md-offset-4">
            <section class="sezione">
                {% for exp_type, exp in experiences %}
                    <h2>{{ exp.title}}</h2>
                    <ul id="{{exp_type}}" class="list-group">
                    {% for item in exp.list %}
                    
                    <li class="list-group-item clearfix">
                        <div class="col-md-2">{{ item.when }}</div>
                        <div class="col-md-10">
                            {{ item.company|raw }}<br>
                            <a href="{{ item.href }}">{{ item.href }}</a>
                        </div>
                    </li>
                    
                    {% endfor %}
                </ul>
                {% endfor %}
            </section>
        </div>
{% include 'footer.twig' %}